body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 400px;
  padding: 25px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  color: rgb(0, 0, 0);
}

header h1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-section input {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  border: none;
  outline: none;
}

button {
  padding: 8px 14px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: #00f5d4;
  font-weight: bold;
  transition: 0.3s ease;
  margin-left: 8px;
}

button:hover {
  background: #00c9a7;
  transform: scale(1.05);
}

.todo-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: rgba(250, 250, 250, 0.1);
}

.todo-item input {
  transform: scale(1.2);
  cursor: pointer;
}

.todo-item span {
  color: black;
}

.completed span {
  text-decoration: line-through;
  color: #000000;
}